body {
  min-height: 100vh;
  padding: 10px;
  font-family: sans-serif;
  background: linear-gradient(#ff9a9e, #fad0c4);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 75vw;
  margin: 0 auto;
  background:white;
}

.container header {
  padding: 0.5vh 0;
  text-align: center;
  background: #eee;
}

.container header form input {
  width: 75%;
  height: 4vh;
  padding: 2px 5px;
  margin: 2vh 0;
}

.container .hide-tasks {
  display: block;
}
.container .hide-tasks input {
  margin: 15px 0;
}

.list-items {
  font-size: 16px;
  padding-bottom: 2vh;
}

.list-items li {
  padding: 10px 0;
  list-style-type: square;
}

.list-items hr {
  width: 90%;
  margin: 0;
  padding: 0;
}

.list-items button, .list-items input {
  float: right;
  margin-right: 10%;
}
.list-items button {
  border-radius: 12px;
}

.list-items .checked {
  text-decoration: line-through;
}